{{define "copyright"}}
<div class="web-footer-top" data-reactid="1987">
    <div class="container" data-reactid="1988">
        <div class="web-footer-bottom clearfix" data-reactid="2053">
            <div class="clearfix" data-reactid="2071">
                <a href="/help/copyright-notice" target="_blank" class="pull-left footer-linka"
                   data-reactid="2072">
                    版权申明
                </a>
                <span class="pull-left footer-linka" data-reactid="2073">
							｜
						</span>
                <span class="pull-left footer-linktext" style="color:#6a6a6a;line-height:16px;font-size:12px;margin-bottom:8px;"
                      data-reactid="2074">
							ICP津B2-20130012 天津市武清公安分局
						</span>
                <span class="pull-left footer-linktext" style="color:#6a6a6a;line-height:16px;font-size:12px;margin-bottom:8px;margin-left:10px;"
                      data-reactid="2075">
							网络文化经营许可证 津网文[2016]6924-087号
						</span>
                <span class="pull-left footer-linktext" style="margin-left:10px;" data-reactid="2076">
							注:此网站版权属于汉华易美（天津）图像技术有限公司
						</span>
            </div>
            <div class="clearfix" data-reactid="2077">
						<span class="pull-left footer-linktext" data-reactid="2078">
							北京市朝阳区酒仙桥路10号院恒通国际商务园B5/B8 010-5795 0333
						</span>
            </div>
        </div>
    </div>
</div>

{{end}}