{{define "head"}}
<html lang="zh"><head>
    <meta charset="utf-8">
    <title>编辑图片 - 视觉中国 VCG.COM</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="视觉中国（www.vcg.com）是一家国际知名的以“视觉内容”生产、传播和版权交易为核心的互联网科技文创公司，2014年成功在A股上市（股票代码：000681）。视觉中国整合全球优质版权内容资源，基于大数据、人工智能技术，通过互联网版权交易平台提供亿级的高质量、专业性的图片、视频及音乐素材，为内容生态中的生产者与使用者提供全方位的版权交易和增值服务。视觉中国战略投资优秀的摄影师社区500px.me和设计师社区shijue.me，加速视觉生态布局，以互联网+视觉内容+行业的战略，将业务延伸至旅游、教育领域，打造以视觉内容与营销增值服务为核心的多业务板块高度协同发展的互联网科技文创集团。">
    <meta name="keywords" content="视觉中国,VCG,正版图片,版权图片,高端图片,图库,图片库,素材,正版素材,优质素材,创意素材,编辑素材,微博配图,微信公众号配图,插画漫画,矢量图,模板,设计师素材,创意设计,创意图片,编辑图片,新闻图片,商业图片,广告图片,广告设计,高清大图,图片搜索,照片,音乐素材,视频素材,视频音乐,历史档案,视觉内容,Getty Images,Corbis,500px,摄影师社区,设计师社区,整合营销,权利清除,版权交易平台,增值服务,品牌机构,一站式服务,PGC,自媒体,公关,营销,出版,客户需求">
    <link rel="icon name" href="http://127.0.0.1/images/favicon.ico">
    <link rel="dns-prefetch" href="//goss.vcg.com">
    <link rel="dns-prefetch" href="//goss1.vcg.com">
    <link rel="dns-prefetch" href="//goss2.vcg.com">
    <link rel="dns-prefetch" href="//goss3.vcg.com">
    <link rel="dns-prefetch" href="//goss4.vcg.com">

    <link href="http://127.0.0.1/static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="http://127.0.0.1/static/css/index/main.916fcaf17d.css" rel="stylesheet">
    <link href="http://127.0.0.1/static/css/index/index.032e0077.css" rel="stylesheet">
    <link href="http://127.0.0.1/static/css/index/style.css" rel="stylesheet">

</head>
{{end}}

