{{define "header"}}
<div class="header" data-reactid="2">
    <header class="navigation wrapper" data-reactid="3">
        <a class="logo" href="https://www.vcg.com/" title="视觉中国" alt="视觉中国" data-reactid="4">
            视觉中国
        </a>
        <ul class="list" data-reactid="5">
            <li data-reactid="6">
                <h2 data-reactid="7">
                    <a href="https://www.vcg.com/" title="视觉中国" class="" data-reactid="8">
                        首页
                    </a>
                </h2>
            </li>
            <li data-reactid="20">
                <h2 data-reactid="21">
                    <a href="https://www.vcg.com/editorial" title="编辑图片" class="active" data-reactid="22">
                        编辑图片
                    </a>
                </h2>
            </li>
        </ul>
    </header>
    <div class="mobileBody" data-reactid="96">
        <div class="mobileLayer" data-reactid="97">
        </div>
        <div class="sideMenu" data-reactid="98">
            <div class="item" data-reactid="109">
                <h2 data-reactid="110">
                    <a href="https://www.vcg.com/" title="视觉中国" class="" data-reactid="111">
                        首页
                    </a>
                </h2>
            </div>
            <div class="item" data-reactid="120">
                <h2 data-reactid="121">
                    <a href="https://www.vcg.com/editorial" title="编辑图片" class="active" data-reactid="122">
                        <span data-reactid="123">编辑图片</span>
                        <i class="icon iconfont icon-up" data-reactid="124">
                        </i>
                    </a>
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="search-form" data-reactid="145">
    <div class="combo-bar search_bar" data-reactid="146">
        <div class="media-types" data-reactid="147">
            <div class="media-types-selection" data-reactid="148">
                <span data-reactid="149">编辑图片</span>
                <i class="icon iconfont icon-drop-down" data-reactid="150"></i>
            </div>
        </div>
        <div class="input-box" data-reactid="151">
            <input type="text" autocomplete="off" name="phrase" value="" placeholder="查找编辑图片..." class="" data-reactid="154">
            <div class="search_bar_autosuggest hide" data-reactid="155">
            </div>
        </div>
        <button class="search-btn" data-reactid="172">
            <i class="icon iconfont icon-search" data-reactid="173"></i>
        </button>
    </div>
</div>
{{end}}
