{{define "searchFrom"}}
<div class="search-form" data-reactid="145">
    <div class="combo-bar search_bar" data-reactid="146">
        <div class="media-types" data-reactid="147">
            <div class="media-types-selection" data-reactid="148">
                <span data-reactid="149">编辑图片</span>
                <i class="icon iconfont icon-drop-down" data-reactid="150"></i>
            </div>
        </div>
        <div class="input-box" data-reactid="151">
            <input type="text" autocomplete="off" name="phrase" value="" placeholder="查找编辑图片..." class="" data-reactid="154">
            <div class="search_bar_autosuggest hide" data-reactid="155">
            </div>
        </div>
        <button class="search-btn" data-reactid="172">
            <i class="icon iconfont icon-search" data-reactid="173"></i>
        </button>
    </div>
</div>
{{end}}

